.blogs-container {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    text-align: left;

    .single-blog {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 10px;
        margin: 0 10px;
        max-width: 575px;
        min-width: 575px;

        .title {
            font-size: 20px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
        }
        .content {
            margin: 10px 0;
        }
        button {
            margin-top: 5px;
            margin-bottom: 15px;
            padding: 5px 15px;
            border-radius: 999px;
            border: none;
        }
    }
}

.Blog-Detail {
    text-align: left;
    width: 600px;
    border: 1px solid grey;
    padding: 10px;
    .title {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.btn-add-new {
    margin: 10px 0;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.add-new-container {
    max-width: 400px;
    border: 1px solid grey;
    padding: 15px;
    margin: 0 auto;
    border-radius: 5px;

    .text-add-new {
        margin: 10px 0;
    }
    .input-data {
        text-align: left;
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    }
    .btn-add-new {
        margin: 10px 0;
        cursor: pointer;
    }
}
